/*!*main userInfo*!*/
/*.userInfo{*/
    /*margin-left: 4%;*/
    /*margin-top: 30px;*/
    /*width: 20%;*/
    /*padding: 10px;*/
    /*display: inline-block;*/
    /*text-align: center;*/

/*}*/
/*.userInfo ul li a{*/

/*}*/
/*.userInfo ul img#photo{*/

    /*width: 200px;*/
    /*height: 150px;*/
    /*padding: 3px 3px 3px;*/
    /*background: #fff;*/
    /*!*border:1px solid #ddd;*!*/
    /*border-radius: 8px;*/
    /*!*transform: rotate(90deg);*!*/
    /*transition: 0.5s;*/
    /*margin-bottom: 20px;*/
/*}*/
/*.userInfo ul img#photo:hover{*/
    /*transform: scale(1.3);*/
/*}*/
/*.userInfo ul a{*/
    /*font-size: 20px;*/
    /*font-weight: 600;*/
    /*text-decoration: none;!*去除a标签原有的下划线*!*/
/*}*/
/*.userInfo ul span{*/
    /*margin-bottom: 8px;*/
    /*margin-left: 20px;*/
/*}*/
/*.userInfo ul img#identity{*/
    /*margin-bottom: 5px;*/
    /*margin-right: 10px;*/
    /*width: 20px;*/
    /*height: 20px;*/
/*}*/
ul,li{
    list-style: none;/*去除原有样式*/
    /*margin-bottom: -10px;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    margin: 0;
    padding: 0;
    /*margin-bottom: 5px;*/
}
/*ul li{*/
    /*!*display: inline-block;!*把竖着的改成横着的*!*!*/
    /*!*line-height: 50px;*!*/
    /*!*margin-right: 10%;!*每个li的右边距*!*!*/
/*}*/
#send{
    border:none;/*去边框*/
    background-color: #f67c5f;/*按钮背景色*/
    color: white;/*文字颜色*/
    /*padding: 14px 40px;!*内边距*!*/
    padding:14px 60px;
    margin-top: 10px;
    margin-bottom: -10px;
    letter-spacing: 1px;
    font-size: 18px;
}
#send:hover{
    background-color: #e8522e;/*按钮背景色*/
}
.fight{
    color: #fff;

    float: left;
    /*margin: auto auto;*/
    /*text-align: left;*/
}.fight1{
     color: #f67c5f;
    /*float: left;*/
    /*margin: auto auto;*/
    text-align: left;
}.fightdiv{
     /*color: #f67c5f;*/
    /*float: left;*/
    /*margin: auto auto;*/
    margin-top: 10px;
    width: 80%;
    float: right;
    text-align: left;
    letter-spacing: 1px;
}
 /*.group{*/
     /*color: #499a6d;*/
 /*}*/

/*侧边菜单*/
.group ul{
    padding: 0;
}
 .group ul li:hover{
     /*margin: 5px;*/
     /*border-radius: 5px;*/
     /*background-color: #7b7878;*/
     /*color: white;*/
     /*opacity: 0.1;*/
 }
 .group > li a{
     display: inline-block;/*行内block，扩大a的响应范围*/
     height: inherit;/*继承父元素的高度*/
     width: inherit;
     color: #097b3c;
     /*color: #499a6d;*/
     /*text-align: center;*/
 }

.subnav_a{
    max-width: 50%;
    border:none;/*去边框*/
    background-color: #000;/*按钮背景色*/
    border-radius: 10px;
    color: white;/*文字颜色*/
    /*padding: 14px 40px;!*内边距*!*/
    padding:8px 60px;
    /*margin-top: 10px;*/
    /*margin-bottom: -10px;*/
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 20px;


}
.subnav_a:hover{
    background-color: #fff;/*按钮背景色*/
}


 /*活动*/
#field > div{
    border-radius: 10px;
    /*background-color:#f1f1f1;*/
    background-color:#dadada;
    /*padding: 10px;*/
    margin: 10px;
}
/*#field > ul{*/
    /*!*margin-bottom: 20px;*!*/
    /*padding: 0;*/
/*}*/
/*.td1{*/
    /*border-radius: 10px;*/
    /*background-color:#98C04C;*/
/*}*/

/*活动卡*/
.ac_field{
    margin: auto;
    /*width: 47%;*/
    width: 30%;
    display: inline-block;

}
.ac_img{
    width: 100%;
    height: 130px;
    /*margin:0;*/
    /*padding: 0;*/


    /*float: left;*/
}
.img_detail{
    /*position: relative;*/
    width: 100%;
    height:100%;
    border-radius: 10px 10px 0 0;
    /*border:1px solid #1E88E5;*/
    box-shadow:1px 1px 1px #3c3a32;
    /*float: left;*/
}
.ac_title{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.ac_kind{
    color: green;
}
.ac_num{
    font-weight: 700;
}
.ac_condition{
    color: orangered;
}
.ac_score{
    color: #8f7a66;
}
.more_button{
    width: 100%;
    border:none;/*去边框*/
    background-color: #000;/*按钮背景色*/
    border-radius: 0 0 10px 10px;
    color: white;/*文字颜色*/
    /*padding: 14px 40px;!*内边距*!*/
    padding:8px 60px;
    /*margin-top: 10px;*/
    /*margin-bottom: -10px;*/
    letter-spacing: 1px;
    font-size: 18px;
}
.more_button:hover{
    background-color: #e8522e;/*按钮背景色*/
}



/*英雄帖*/
#tie > div{
    border-radius: 10px;
    /*background-color:#f1f1f1;*/
    background-color:#dadada;
    /*padding: 10px;*/
    margin: 10px;
}
.ac_ul{
    background-color: white;
}
.ac_from{

    width: 100%;
    margin-bottom: -25px;
    border-radius: 10px 10px 0 0;
    /*background-color:#f1f1f1;*/
    background-color:#f1917a;
    padding: 5px;
    /*align-content: center;*/
    transition: 1s;
}
.ac_from:hover{
    transform: scale(1.05);
}

#MySend,#MyReceive{
    border-radius: 10px;
    /*background-color:#f1f1f1;*/
    background-color:#dadada;
    /*padding: 10px;*/
    margin: 10px;
    padding: 10px;
    margin: 10px;
}
.ac_field{
    margin: 10px;
}




/*我的活动*/
#myActivity > div{
    border-radius: 10px;
    /*background-color:#f1f1f1;*/
    background-color:#dadada;
    /*padding: 10px;*/
    margin: 10px;
}
#id4{
    display: none;
}
#mySet > div{
    border-radius: 10px;
    /*background-color:#f1f1f1;*/
    background-color:#dadada;
    /*padding: 10px;*/
    margin: 10px;
    padding: 10px;
}

