#head > div{
    border-radius: 10px;
    /*background-color:#f1f1f1;*/
    background-color:#dadada;
    /*padding: 10px;*/
    margin: 10px;
}

#describe{
    text-align: center;
    padding: 30px;
}
ul,li{
    list-style: none;/*去除原有样式*/
    /*margin-bottom: -10px;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    margin: 0;
    padding: 0;
    /*margin-bottom: 5px;*/
}
#head ul{
    display: inline-block;
    margin: 20px;
}
#title{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #e8522e;
}
.t1{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}
.t2{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 100;
}