ul,li{
    list-style: none;/*去除原有样式*/
    /*margin-bottom: -10px;*/

    /*margin-left: auto;*/
    /*margin-right: auto;*/
    text-align: center;
    margin: 0;
    padding: 0;
    /*margin-bottom: 5px;*/
}


/*侧边菜单*/
/*.group ul{*/
    /*padding: 0;*/
/*}*/
/*.group ul li:hover{*/
    /*!*margin: 5px;*!*/
    /*!*border-radius: 5px;*!*/
    /*!*background-color: #7b7878;*!*/
    /*!*color: white;*!*/
    /*!*opacity: 0.1;*!*/
/*}*/
/*.group > li a{*/
    /*display: inline-block;!*行内block，扩大a的响应范围*!*/
    /*height: inherit;!*继承父元素的高度*!*/
    /*width: inherit;*/
    /*color: #097b3c;*/
    /*!*color: #499a6d;*!*/
    /*!*text-align: center;*!*/
/*}*/

.subnav_a{
    max-width: 50%;
    border:none;/*去边框*/
    background-color: #000;/*按钮背景色*/
    border-radius: 10px;
    color: white;/*文字颜色*/
    /*padding: 14px 40px;!*内边距*!*/
    padding:8px 60px;
    /*margin-top: 10px;*/
    /*margin-bottom: -10px;*/
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 20px;


}
.subnav_a:hover{
    background-color: #fff;/*按钮背景色*/
}


/*关注列表*/
#follow_list{
    padding: 40px;
}
#ranking{
    width: 100%;
    margin-left: -6px;
}
/*#follow_title{*/
    /*width: 100%;*/
    /*background-color: #00bcd4;*/
    /*text-align: center;*/
    /*padding: 14px 100px;*/
    /*margin-left: 30%;*/
/*}*/